#upper-container{
    margin-top: 150px;
}

#hero-image{
    width: 300px;
    margin: 0 auto;
}

#main-logo{
    width: 200px
}

#mid-container{
    margin-top: 150px;
    width: 75vw;
    margin: 50px auto;
}